<body>
  <div class="barra-footer">
    <div class="fragmento-primero">
      <h4>Redes sociales</h4>
      <ul class="redes-sociales-lista">
        <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com"><img src="/static/img/iconos/Facebook.png" alt="Facebook" class="red-social-icono"/></a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com"><img src="/static/img/iconos/Instagram.png" alt="Instagram" class="red-social-icono" /></a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://www.x.com"><img src="/static/img/iconos/Twitter.png" alt="Twitter" class="red-social-icono" /></a></li>
      </ul>
    </div>
    <div class="fragmento-segundo">
      <h4>Contactanos</h4>
      <ul class="contacto-lista">
        <li>
          <img src="/static/img/iconos/Telefono.png" alt="Teléfono" />
          <span>+54 9 11 2345-6789</span>
        </li>
        <li>
          <img src="/static/img/iconos/Correo.png" alt="Correo" />
          <span>contacto@elcieloenlatierra@gmail.com</span>
        </li>
        <li>
          <img src="/static/img/iconos/Ubicación.png" alt="Ubicación" />
          <span>Av. del Bienestar 1234, Barrio Tranquilo, Ciudad</span>
        </li>
      </ul>
    </div>
    <div class="fragmento-tercero">
      <img src="/static/img/Logo png.png" alt="" />
      <h2>El cielo en la tierra</h2>
    </div>
  </div>
</body>
