<div class="barra">
  <a href="/home"
    ><img class="imagen-logo" src="/static/img/Logo png.png" alt="Logo"
  /></a>
  <a href="/home"><h1 class="texto-logo">Sentirse Bien</h1></a>

  <nav class="navbar">
    <ul class="menu-navbar" id="menuNavbar">
      <li><a href="/home">Home</a></li>
      <li><a href="/servicios/listado">Servicios</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li>
        {% if user.is_authenticated %}
        <a><img src="/static/img/perfil.png" class="imagen-perfil" /></a>
        {% else %}
        <a> Register/Login</a>
        {%endif%}
        <ul class="submenu">
          {% if user.is_authenticated %}
          <li><a href="">Perfil</a></li>
          <li><a href="">Cerrar sesión</a></li>
          {% else %}
          <li>
            <a href="/Elcieloenlatierra/templates/registration/login.html">Iniciar sesión</a>
            </li>
            <li>
              <a href="/Elcieloenlatierra/templates/registration/registro.html"
                >Registrarse</a
              >
            </li>
            {% endif %}
          </ul>
        </ul>
      </li>
    </ul>
  </nav>
</div>
