@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --violeta: #4635b1;
  --lila: #b771e5;
  --verde: #aeea94;
  --amarillo: #fffbca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2efe7 !important;
}

* a {
  text-decoration: none;
  color: inherit;
}
