@import "tailwindcss";
@import "tailwindcss-animated";

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2efe7 !important;
}

* a {
  text-decoration: none;
  color: inherit;
}
