@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poetsen+One&display=swap");

.barra-footer {
  width: 100%;
  height: 250px;
  background: linear-gradient(to right, #134e5e, #71b280);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fragmento-primero {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: #f2efe7;
}

.fragmento-segundo {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-left: 0.5rem solid var(--amarillo);
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: #f2efe7;
  gap: 1rem;
}

.fragmento-tercero {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5rem solid var(--amarillo);
  font-family: "Lobster", cursive;
  font-weight: 600;
  color: #f2efe7;
}

.fragmento-tercero img {
  height: 150px;
  width: auto;
}

.redes-sociales-lista {
  display: flex;
  list-style: none;
  padding: 0;
}

.contacto-lista {
  list-style: none;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.contacto-lista h4 {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  margin-left: 1rem;
  margin-bottom: 10px;
}
.contacto-lista li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacto-lista span {
  color: #f2efe7; /* Texto oscuro para contraste */
}

.contacto-icono {
  border: 4px solid #f2efe7; /* Borde beige claro */
  border-radius: 12px;
  padding: 3px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.contacto-icono svg {
  width: 100%;
  height: 100%;
}

.telefono-icono path {
  fill: #f2efe7;
}

.correo-icono path {
  stroke: #f2efe7;
}

.ubicacion-icono path {
  stroke: #f2efe7;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.redes-sociales-lista li svg {
  width: 3rem;
  height: auto;
}

.red-social-icono {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.red-social-icono:hover {
  transform: scale(1.2);
  filter: brightness(1.3) drop-shadow(0 0 5px #fff);
}

.twitter-icono {
  border: 4px solid #f2efe7;
  border-radius: 12px; /* opcional, para redondear */
  padding: 5px;
  width: 40px;
  height: 40px;
}
.instagram-icono {
  color: #f2efe7;
  border-radius: 12px; /* opcional, para redondear */
  margin-right: 3px;
  width: 40px;
  height: 40px;
}

.facebook-icono {
  border: 4px solid #f2efe7;
  border-radius: 12px; /* opcional, para redondear */
  padding: 3px;
  width: 40px;
  height: 40px;
  margin-right: 3px;
}
