@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.barra {
  width: 100%;

  background: linear-gradient(to right, #134e5e, #71b280);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  flex-wrap: wrap;
}

.imagen-logo {
  height: 80px;
  width: auto;
}

.texto-logo {
  color: whitesmoke;
  font-family: "Lobster", cursive;
  font-weight: 800;
  font-size: 40px;
  margin-left: 1rem;
}

.navbar {
  width: 100%;
  margin-top: 1rem;
}

.menu-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: linear-gradient(to right, #134e5e, #71b280);
  list-style: none;
  padding: 1rem;
  margin: 0;
  gap: 1rem;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: whitesmoke;
  width: 100%;
}

.menu-navbar li {
  transition: transform 0.3s ease;
  flex: 1;
}

.menu-navbar li:hover {
  transform: scale(1.1);
}

.menu-navbar a {
  text-decoration: none;
  color: whitesmoke;
}

/* -------- DESKTOP -------- */
@media (min-width: 768px) {
  .barra {
    flex-wrap: nowrap;
  }

  .imagen-logo {
    height: 110px;
  }

  .imagen-titulo {
    height: 60px;
    margin-left: 1rem;
  }

  .navbar {
    width: auto;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 0;
  }

  .menu-navbar {
    flex-direction: row;
    gap: 2rem;
    background-color: transparent;
    padding: 0;
  }
}

.submenu {
  position: absolute;
  background-color: #71b280;
  padding: 0 1rem;
  line-height: 2rem;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
  top: 100%;
}

.menu-navbar li:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.submenu li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: whitesmoke;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  text-align: center;
  transition: transform 0.3s ease;
}

.submenu li a {
  white-space: nowrap;
}

.imagen-perfil {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
