@import "tailwindcss";
@import "tailwindcss-animated";

/* Background gradient(navbar y footer): https://uigradients.com/#Moss */
/* Background gradient(home): background: linear-gradient(to bottom, #134e5e, #2bc0e4); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2efe7 !important;
}

* a {
  text-decoration: none;
  color: inherit;
}
