{% extends "base/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/listarServicios.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %} {% block content %}

<div
  id="csrf-token-container"
  style="display: none"
  data-csrf-token="{{ csrf_token }}"
></div>

<section class="contenedorServicios">
  <!-- Este contenedor es el que tiene la imagen del "+" que se usa para agregar un nuevo servicio-->

  <div class="containerMas">
    <a
      href="{% url 'crear_servicio' %}"
      class="boton-agregar"
      aria-label="Agregar nuevo servicio"
    >
      <div class="icono-agregar">
        <img src="/static/img/SignoMas.png" alt="Agregar servicio" />
      </div>
      <h2>Agregar Servicio</h2>
    </a>
  </div>

  <!-- Acá listamos los servicios en las cards -->

  {% for servicio in servicios %}
  <div class="card-servicio mejorada">
    {% if user.is_superuser %}
    <div class="acciones-admin-lateral">
      <a
        href="/servicios/modificar/{{servicio.id}}"
        class="boton-modificar-servicio"
        title="Modificar servicio"
      >
        ✏️
      </a>
      <button
        class="boton-eliminar-servicio"
        data-servicio-id="{{ servicio.id }}"
        data-servicio-titulo="{{ servicio.nombre }}"
      >
        🗑️
      </button>
    </div>
    {% endif %}

    <div class="imagen-container">
      <img
        src="{{ servicio.imagen.url }}"
        alt="Imagen del servicio {{ servicio.nombre }}"
        class="card-imagen"
      />
    </div>

    <div class="card-contenido">
      <h3 class="card-titulo">{{ servicio.nombre }}</h3>

      <p class="card-descripcion">{{ servicio.descripcion }}</p>

      <p class="card-precio">${{ servicio.precio }}</p>

      <div class="card-turnos">
        {% for turno in servicio.turnos %}
        <span class="turno-nombre">{{ turno }}</span>
        {% empty %}
        <span class="turno-nombre">No hay turnos disponibles</span>
        {% endfor %}
      </div>

      <div class="boton-turno-wrapper">
        <a href="/turno" class="boton-turno">Pedir turno</a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

<script>
  confirmarEliminarServicio();
</script>

{% endblock %}
