{% extends "base/base.html" %} 

{% load static %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/servicios.css' %}" />
{% endblock %} 

{% block content %}

<section class="section-one">

  <section class="turnos-visual">
    <img src="/static/img/adorno-two.jpg" alt="SERVICIOS" />
    <h2>SERVICIOS</h2>
  </section>


  <div class="container-servicios">
    <div class="container-card card">
      <input type="checkbox">
      <div class="switch">+</div>
      <div class="imgBg">
        <img src="/static/img/servicios/masajes.jpg" alt="Masajes">
      </div>
      <div class="content">
        <h1>Masajes</h1>
        <p>Relaja los músculos tensos y alivia el estrés acumulado con un masaje profundo y personalizado. Ideal para quienes sufren de contracturas o pasan muchas horas frente a la computadora. </p>
      <div class="button-static button-left">8500$</div>
      <div class="button-static button-right">50-60 min</div>
      </div>
    </div>

    <div class="container-card card">
      <input type="checkbox">
      <div class="switch">+</div>
      <div class="imgBg">
        <img src="/static/img/servicios/belleza.jpg" alt="Belleza">
      </div>
      <div class="content">
        <h1>Belleza</h1>
        <p>Realzá tu mirada con un diseño de cejas acorde a tu rostro y un lifting que curva y alarga tus pestañas de forma natural, sin extensiones. Ideal para mantener una imagen prolija y expresiva. </p>
        <div class="button-static button-left">7200$</div>
        <div class="button-static button-right">70-75 min</div>
      </div>
    </div>

    <div class="container-card card">
      <input type="checkbox">
      <div class="switch">+</div>
      <div class="imgBg">
        <img src="/static/img/servicios/facial.jpg" alt="Facial">
      </div>
      <div class="content">
        <h1>Faciales</h1>
        <p>Te ofrecemos un tratamiento esencial para renovar tu piel. Elimina impurezas, células muertas y puntos negros, dejando el rostro suave, luminoso y revitalizado. Recomendado para todo tipo de piel.</p>
        <div class="button-static button-left">6500$</div>
        <div class="button-static button-right">50-60 min</div>
      </div>
    </div>

    <div class="container-card card">
      <input type="checkbox">
      <div class="switch">+</div>
      <div class="imgBg">
        <img src="/static/img/servicios/corporal.jpg" alt="Tratamiento corporal">
      </div>
      <div class="content">
        <h1>Corporales</h1>
        <p>Recibe una sesión intensiva que combina masajes modeladores, aparatología (como ultracavitación o radiofrecuencia) y geles térmicos para reducir medidas, mejorar la circulación y tonificar zonas específicas del cuerpo.</p>
        <div class="button-static button-left">9500$</div>
        <div class="button-static button-right">50-60 min</div>
      </div>
    </div>

    <div class="container-card card">
      <input type="checkbox">
      <div class="switch">+</div>
      <div class="imgBg">
        <img src="/static/img/servicios/yoga.jpg" alt="Yoga">
      </div>
      <div class="content">
        <h1>Yoga</h1>
        <p>Te ofrecemos una experiencia de conexión cuerpo-mente que combina posturas físicas (asanas), técnicas de respiración (pranayama) y relajación guiada. Ideal para reducir el estrés, mejorar la flexibilidad y equilibrar la energía.</p>
        <div class="button-static button-left">4000$</div>
        <div class="button-static button-right">50-60 min</div>
      </div>
    </div>
      
  </div>

</section>

{% endblock %}