{% extends "base/base.html" %} 

{% load static %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/turno.css' %}" />
{% endblock %} 

{% block content %}

<div class="turnos-container">
  <section class="turnos-visual">
    <img src="/static/img/adorno-one.jpg" alt="TURNOS" />
    <h2>REGISTRO</h2>
  </section>

  <section class="formulario-section">
    <h2>Registrarse</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>
  </section>
</div>

{% endblock %}