{% extends "base/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crear_servicio.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
{% endblock %} {% block content %}

<div class="turnos-container">
  <section class="formulario-section">
    <h2>Nuevo servicio</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.nombre.label_tag }} {{ form.nombre }}</p>
      <p>{{ form.descripcion.label_tag }} {{ form.descripcion }}</p>
      <p>{{ form.precio.label_tag }} {{ form.precio }}</p>
      <p>{{ form.imagen.label_tag }} {{ form.imagen }}</p>

      <fieldset>
        <legend>{{ form.turnos.label }}</legend>
        {% for checkbox in form.turnos %}
        <div class="form-check">
          {{ checkbox.tag }} {{ checkbox.choice_label }}
        </div>
        {% endfor %}
      </fieldset>

      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  // Aquí seleccionás el input donde querés aplicar flatpickr
  flatpickr("input[name='hora']", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
  });
</script>

{% if enviado %}
<script>
  mostrarAlertaExitosa(
    "Servicio Añadido!",
    "Tu Servicio se ha creado correctamente."
  );
</script>
{% endif %} {% endblock %}
