<!-- LEE PRIMERO LAS NOTAS DEL ARCHIVO base.html -->

{% extends "base/base.html" %}
<!-- Extiendo la base para tener el Navbar y el Footer-->

{% load static %}
<!-- Le aviso a Django que voy a usar estilos -->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<!-- Importo un css para un template en especifico, como es el home -->
{% endblock %} {% block content %}
<!-- Le aviso a django que aquí empieza el contenido que va a ir en la posición que le indique en el base.html -->

<section class="section-one animate-fade-up">
  <div class="bento-grid">
    <div
      class="bento-item very-wide"
      style="--bg-image: url('/static/img/adorno-two.jpg')"
    >
      <span class="bento-text">
        ¡Bienvenido de vuelta {{ perfil_usuario.primer_nombre }}!
      </span>
    </div>
    <div
      class="bento-item very-wide"
      style="--bg-image: url('/static/img/adorno-three.jpg')"
    >
      <a href="/PreguntasFrecuentes"
        ><span class="bento-text">Ver dudas frecuentes</span></a
      >
    </div>
    <div
      class="bento-item very-wide"
      style="--bg-image: url('/static/img/adorno-four.jpg')"
    >
      <a href="/perfil/detalle"><span class="bento-text">Ver mis turnos registrados</span></a>
    </div>
    <div
      class="bento-item very-wide grid-amarillo"
      style="--bg-image: url('/static/img/fondo5.jpg')"
    >
      <a href="/turnos"><span class="bento-text">Solicitar turno</span></a>
    </div>
  </div>
</section>

<div class="divisor animate-fade-up">
  <h2>Encuentranos</h2>
</div>

<div class="section-three loading-lazy">
  <iframe
    id="mapFrame"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7081.165247200975!2d-58.988022822290006!3d-27.451115399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf0c80be0d3%3A0xc9f9278c74810912!2sUTN%20-%20Facultad%20Regional%20Resistencia!5e0!3m2!1ses!2sar!4v1749441265159!5m2!1ses!2sar"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  
    <div class="container-whatsapp box-uniform">
      <h2>Contactanos por WhatsApp</h2>
      <h3>Te respondemos al instante</h3>
      <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"> <img src="/static/img/iconos/Whatsapp.png" alt="WhatsApp" /> </a>
    </div>

</div>

<a href="/SobreNosotros">
  <section class="section-four animate-fade-up">
    <img src="/static/img/Prueba2.jpg" alt="Sobre nosotros" loading="lazy" />
    <h2>ENTERATE MÁS SOBRE NOSOTROS</h2>
  </section>
</a>

<section class="section-five">
  <div class="container-simple">
    <h2>MÉTODOS DE PAGO</h2>
    <img
      src="/static/img/MetodosDePago.png"
      alt="Métodos de pago"
      class="imagen1"
    />
  </div>
</section>

{% endblock %}
<!-- Le aviso a django que aquí termina el contenido que va a ir en la posición que le indique en el base.html -->
