<!-- LEE PRIMERO LAS NOTAS DEL ARCHIVO base.html -->

{% extends "base/base.html" %}
<!-- Extiendo la base para tener el Navbar y el Footer-->

{% load static %}
<!-- Le aviso a Django que voy a usar estilos -->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<!-- Importo un css para un template en especifico, como es el home -->
{% endblock %} {% block content %}
<!-- Le aviso a django que aquí empieza el contenido que va a ir en la posición que le indique en el base.html -->

<section class="section-one animate-fade-up">
  <div class="bento-grid">
    <div
      class="bento-item large"
      style="--bg-image: url('/static/img/adorno-one.jpg')"
    >
      <span class="bento-text">Pedir turno</span>
    </div>
    <div class="bento-item" style="--bg-image: url('/static/img/fondo2.jpg')">
      <span class="bento-text">Item 2</span>
    </div>
    <div class="bento-item" style="--bg-image: url('/static/img/fondo3.jpg')">
      <span class="bento-text">Item 3</span>
    </div>
    <div
      class="bento-item large"
      style="--bg-image: url('/static/img/fondo4.jpg')"
    >
      <span class="bento-text">Item 4</span>
    </div>
    <div
      class="bento-item wide"
      style="--bg-image: url('/static/img/fondo5.jpg')"
    >
      <span class="bento-text">Item 5</span>
    </div>
    <div class="bento-item" style="--bg-image: url('/static/img/fondo6.jpg')">
      <span class="bento-text">Item 6</span>
    </div>
  </div>
</section>

<div class="divisor animate-fade-up">
  <h2>Encuentranos</h2>
</div>

<div class="section-three">
  <iframe
    id="mapFrame"
    class="box-uniform"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.902938757285!2d-58.43708968477799!3d-34.61177838045961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacf6a8b1f11%3A0x6d93b57e9a6b63b9!2sObelisco%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1695620000000!5m2!1ses!2sarhttps://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.902938757285!2d-58.43708968477799!3d-34.61177838045961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacf6a8b1f11%3A0x6d93b57e9a6b63b9!2sObelisco%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1695620000000!5m2!1ses!2sar"
    allowfullscreen=""
    loading="lazy"
  ></iframe>

  <div class="container-whatsapp box-uniform">
    <h2>Contactanos por WhatsApp</h2>
    <h3>Te respondemos al instante</h3>
    <img src="/static/img/iconos/Whatsapp.png" alt="WhatsApp" />
  </div>
</div>

<a href="#">
  <section class="section-four animate-fade-up">
    <img src="/static/img/Prueba2.jpg" alt="Sobre nosotros" />
    <h2>ENTERATE MÁS SOBRE NOSOTROS</h2>
  </section>
</a>

<section class="section-five">
  <div class="container-simple">
    <h2>MÉTODOS DE PAGO</h2>
    <img
      src="/static/img/MetodosDePago.png"
      alt="Métodos de pago"
      class="imagen1"
    />
  </div>
  <a href="/PreguntasFrecuentes">
    <div class="container-simple">
      <img
        src="/static/img/iconos/Pregunta.png"
        alt="Preguntas Frecuentes"
        class="imagen2"
      />
      <h2>Ver dudas frecuentes</h2>
    </div>
  </a>
</section>

{% endblock %}
<!-- Le aviso a django que aquí termina el contenido que va a ir en la posición que le indique en el base.html -->
