{% extends "base/base.html" %} 

{% load static %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/servicios.css' %}" />
{% endblock %} 

{% block content %}

<section class="section-one">

  <section class="turnos-visual">
    <img src="/static/img/adorno-two.jpg" alt="SERVICIOS" />
    <h2>SERVICIOS</h2>
  </section>


  <div class="container-servicios">
    <div class="container-card">
      <img src="/static/img/servicios/masajes.jpg" alt="" />
      <p class="title">Masajes</p>
      <div class="overlay"></div>
      <div class="button"><a href="#"> VER MÁS </a></div>
    </div>

    <div class="container-card">
      <img src="/static/img/servicios/belleza.jpg" alt="" />
      <p class="title">Belleza</p>
      <div class="overlay"></div>
      <div class="button"><a href="#"> VER MÁS </a></div>
    </div>

    <div class="container-card">
      <img src="/static/img/servicios/tratamiento_facial.jpg" alt="" />
      <p class="title">Tratamientos Faciles</p>
      <div class="overlay"></div>
      <div class="button"><a href="#"> VER MÁS </a></div>
    </div>

    <div class="container-card">
      <img src="/static/img/servicios/tratamiento_corporal.jpg" alt="" />
      <p class="title">Tratamientos Corporales</p>
      <div class="overlay"></div>
      <div class="button"><a href="#"> VER MÁS </a></div>
    </div>

    <div class="container-card">
      <img src="/static/img/servicios/servicio_grupal.jpg" alt="" />
      <p class="title">Servicios Grupales</p>
      <div class="overlay"></div>
      <div class="button"><a href="#"> VER MÁS </a></div>
    </div>
      
  </div>

</section>

{% endblock %}