{% extends "base/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registro-profesional.css' %}" />
{% endblock %} {% block content %}
<div class="registro-profesional-container">
  <h2>Registro como Profesional</h2>

  <form method="post" novalidate>
    {% csrf_token %} {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.profesiones.label_tag }} {{ form.profesiones }}
    </div>

    <button type="submit" class="btn-submit">Enviar Registro</button>
  </form>
</div>
{% endblock %}
